*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.calculator{
    max-width: 24rem;
    position: absolute;
    z-index: 5;
    height: fit-content;
}

.app{
    display: grid;
    position: relative;
    place-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.history{
    max-width: 24rem;
    margin: 0 auto;
    max-height: 8rem;
    height: 8rem;
    font-size: .85rem;
    color: #fff;
    /* background-color: aqua; */
    margin-top: -2rem;
    border: 1px solid rgb(255, 217, 0);
    margin-bottom: .5rem;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    border-radius: .3rem;
}
.main-history{
    width: 24rem;
    flex-direction: column;
    position: relative;
}
.main-history .del{
    position: absolute;
    text-align: center;
    top: -10%;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 55);
    left: 0;
    color: #fff;
}

.history li{
    list-style-type: none;
    height: fit-content;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    align-items: center;
    scroll-snap-align: start;
    /* scroll-snap-stop: ; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: space-between;
}

.history li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.history li span:first-child{
    opacity: .7;
}
.history li span:last-child{
    cursor: pointer;
}
.history li span:last-child:active{
    color: rgb(164, 201, 255);
}
.history li:last-child{
    cursor: pointer;
}
.history::-webkit-scrollbar{
    display: none;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inText{
    font-size: 3rem;
    width: 24rem;
    border-radius: .4rem;
    color: #fff;
    padding: .5rem;
    background-color: transparent;
    border: 1px solid rgb(0, 102, 255);
}
.holder{
    position: absolute;
    right: 5rem;
    margin-top: .2rem;
    font-size: 1.3rem;
    color: rgb(0, 102, 255);
    display: flex;
    gap: 10px;
}

.btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    gap: 10px;
}
.nomBtn{
    font-size: 1.55rem;
    border: 1px solid rgb(0, 102, 255);
    padding: .2rem .3rem;
    border-radius: .25rem;
    cursor: pointer;
}
.preload{
    height: 110vh;
    transition: .5s ease;
    width: 100vw;
    z-index: 3000;
    top: -10%;
    background-color: #fff;
    position: fixed;
    font-size: 2rem;
    text-align: center;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.noNeed span{
    display: flex;
    gap: 20px;
    animation: move 3s ease-in-out infinite;
}
.noNeed span p:first-child div:first-child{
    animation: hiddenMin1 .5s ease-in-out infinite;
}
.noNeed span p:first-child div:last-child{
    animation: hidden2Min2 .5s ease-in-out infinite;
}
.noNeed span p:last-child div:first-child{
    animation: hiddeMin1 .5s ease-in-out infinite;
}
.noNeed span p:last-child div:last-child{
    animation: hiddenMin2 .5s ease-in-out infinite;
}
.noNeed span p:first-child{
    color: #000;
    display: flex;
    animation: hidden2 1s ease-in-out infinite;
    margin-left: 10px;
}
.noNeed span p:last-child{
    display: flex;
    margin-left: -10px;
    animation: hidden 1s ease-in-out infinite;
    color: #000;
}


@media screen and (max-width: 650px) {
    .history{
        max-width: 92vw;
        height: 8rem;
        margin-top: 2rem;
    }
    .main-history{
        max-width: 92vw;
        margin: 0 auto;
    }
    .inText{
        width: 92vw;
    }
    .calculator{
        max-width: 40.5rem;
        margin-bottom: 2rem;
        height: fit-content;
    }
    .btns{
        max-width: 92vw;
    }
    .noNeed{
        font-size: 1.55rem;
        top: 11rem;
    }
    .preload{
        top: -20%;
        height: 125%;
    }
}

@media screen and (max-height: 667px) {
    .history{
        max-width: 92vw;
        height: 8rem;
        margin-top: 5rem;
    }
    .nomBtn{
        font-size: 1.5rem;
        border: 1px solid rgb(0, 102, 255);
        padding: .2rem .3rem;
        border-radius: .25rem;
        cursor: pointer;
    }    
    .t-2{
        font-size: 2.2rem;
    }
    .t-1{
        font-size: 1.55rem;
    }
}

@keyframes hidden {
    25%{
        transform: skewY(10deg);
    }
    75%{
        transform: skewY(-10deg);
    }
}
@keyframes hidden2 {
    25%{
        transform: skewY(-10deg);
    }
    75%{
        transform: skewY(10deg);
    }
}
@keyframes hiddenMin1 {
    25%{
        transform: skewY(5deg);
    }
    75%{
        transform: skewY(-5deg);
    }
}
@keyframes hiddenin2 {
    25%{
        transform: skewY(-5deg);
    }
    75%{
        transform: skewY(5deg);
    }
}

@keyframes move {
    50%{
        transform: translateY(5rem);
    }
}